[Unit]
Description=bazarr Daemon
After=syslog.target network.target

[Service]
User=bazarr
Group=media

Type=simple
ExecStart=/usr/bin/python2 /opt/Bazarr/bazarr.py
TimeoutStopSec=20
KillMode=process
Restart=on-failure

ReadWritePaths=/opt/Bazarr /mnt/media

CapabilityBoundingSet=
LockPersonality=yes
#MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources

PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes

RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
