[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
User=radarr
Group=media

Type=simple
ExecStart=/usr/bin/mono /opt/Radarr/radarr/Radarr.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

ReadWritePaths=/opt/Radarr /mnt/media/Movies

CapabilityBoundingSet=
LockPersonality=yes
#MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes

RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
