[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User=sonarr
Group=media

Type=simple
ExecStart=/usr/bin/mono /opt/Sonarr/sonarr/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

ReadWritePaths=/opt/Sonarr /mnt/media/Series

CapabilityBoundingSet=
LockPersonality=yes
#MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources

PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes

RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
