
[Unit]
Description=Minecraft Server instance %i
After=network.target
RequiresMountsFor=/home/spigot/%i

[Service]
Type=notify
User=spigot
WorkingDirectory=/home/spigot/%i
ExecStart=/usr/bin/java -Xmx1G -XX:+UseConcMarkSweepGC -jar /home/spigot/%i/spigot.jar --noconsole
SuccessExitStatus=143

ProtectSystem=full
PrivateDevices=yes
PrivateTmp=yes
